.auth {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    &_form {
        width: 100%;
        &_field {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            width: 90%;
            &_submit {
                width: 90%;
                text-align: center;
            }
        }
    }
    &_hidden {
        display: none;
    }
    &_link {
        cursor: pointer;
    }
    &_modal {
        padding: 2rem;
        z-index: 1;
        position: absolute;
        width: 25%;
        height: 45%;
        background-color: white;
        box-shadow: 0px 0px 5px 1px $shade-light;
    }
    &_submit {
        padding: 0.5rem;
        background-color: $shade-dark;
        color: $shade-light;
        border: none;
        border-radius: 5px;
        font-weight: 800;
    }
};